## WPL Financial Model

#### Notes
1) Need to figure out how to add solar extension period + end effects period
2) Move functions into separate .py file after finishing
3) Dictionary of dfs of depreciations?
4) start thinking about how to automate QC'ing - ask Barett and Rowen about what they do to QC typically
5) Create functions to apply formatting
    - https://pandas.pydata.org/docs/user_guide/style.html
    - also from openpyxl.styles import Font, PatternFill, Alignment
6) automate making tables in "Financial Portfolios" tab --> the ones that are not hard coded

### Import packages

In [2]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
from datetime import datetime
import pathlib

# Set the path to the folder containing your Excel files
folder_path = '/Users/alomsadze/OneDrive - Charles River Associates International/Desktop/WPL/Python Version/'
model_inputs = pd.ExcelFile(folder_path + "Direct Model Inputs.xlsx")
model_inputs

# Pause future warnings for cleaner output
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

### Supporting functions -- move to separate python file later

In [3]:
def read_excel_with_tables(df):
    """
    Read a single Excel sheet with multiple tables separated by an empty row.
    Each table is identified by the word "table" in a cell, and its name is in the next cell.

    Parameters:
    - file_path: str, path to the Excel file
    - sheet_name: str, name of the sheet in the Excel file

    Returns:
    - Dictionary of DataFrames, where keys are table names and values are corresponding DataFrames
    """

    # Initialize variables
    tables = {}
    current_table_name = None
    current_table_start_row = None

    # Iterate through rows
    for index, row in df.iterrows():
        if "table" in str(row.values).lower():
            # Save the current table if it exists
            if current_table_name is not None:
                data_table = df.iloc[current_table_start_row:index - 1, :].reset_index(drop=True)
                # Set the column names to be the values in the first row
                data_table.columns = data_table.iloc[0]
                # Drop the first row, which is now redundant as column headers
                data_table = data_table[1:]
                # Drop columns without names
                data_table = data_table.dropna(axis=1, how='all')
                # Now df contains your data with only columns that have column names
                tables[current_table_name] = data_table

            # Update variables for the new table
            current_table_name = str(row[1]) # this takes the value from the cell next to the cell that says "table"
            #####print("current table name is", current_table_name)
            current_table_start_row = index + 1  # Assuming the next row is empty
            
    # Add the last table
    if current_table_name is not None:
        data_table = df.iloc[current_table_start_row:index + 1, :].reset_index(drop=True)
        # Set the column names to be the values in the first row
        data_table.columns = data_table.iloc[0]
        # Drop the first row, which is now redundant as column headers
        data_table = data_table[1:]
        # Drop columns without names
        data_table = data_table.dropna(axis=1, how='all')
        # Now df contains your data with only columns that have column names
        tables[current_table_name] = data_table
        
    return tables

def get_resource_FOM(name_of_resource):
    
    resource_capacity_yearly = cumulative_installed_capacity_MW_df[name_of_resource]
    resource_capacity_yearly = resource_capacity_yearly * 1000 # convert MWs to KWs
    resource_FOM_yearly = FOM_2021_kw_year_df[name_of_resource]
    # Merge DataFrames on the 'Year' column
    resource_yearly_df = pd.merge(resource_capacity_yearly, resource_FOM_yearly, on='Year')
    resource_yearly_df = pd.merge(resource_yearly_df, inflation_vector, on='Year')
    resource_yearly_df.columns = ['Capacity','FOM', 'Inflation Scalar']
    # Multiply corresponding values for total FOM
    resource_yearly_df['Total FOM'] =  resource_yearly_df['Capacity'] * resource_yearly_df['FOM'] * resource_yearly_df['Inflation Scalar']
    resource_total_FOM_yearly = resource_yearly_df['Total FOM'] 
    resource_total_FOM_yearly = resource_total_FOM_yearly.to_frame().T

    return(resource_total_FOM_yearly)

### Import Data

In [4]:
financial_inputs = model_inputs.parse("Financial Inputs", header=None)
financial_inputs_tables = read_excel_with_tables(financial_inputs)
financial_scalars_inputs = financial_inputs_tables['Scalar Inputs'].set_index('Scalar Input')
inflation_vector_df = financial_inputs_tables['Inflation Vector - Base Year 2021$']
inflation_vector = inflation_vector_df.set_index('Year')['Scalar']
CCS_inputs = model_inputs.parse("CCS", header=None)
CCS_inputs_tables = read_excel_with_tables(CCS_inputs)

In [5]:
aurora_portfolio_summary = model_inputs.parse("Portfolio Summary")
capacity_payments = model_inputs.parse("Capacity Payments")
datacenter_scenario_financials = model_inputs.parse("Datacenter Scenario Financials", header=None)
hydrogen_island_inputs = read_excel_with_tables(model_inputs.parse("Hydrogen Island", header=None))

## Revenue Requirement Calculations

In [6]:
# GLOBAL VARIABLES TO GENERALIZE
Run_ID = 'CIC'
Scenario = 'Continue_Change'
year = 2023 
aurora_portfolio_ID = 2
aurora_condition = 'ATC'
case_name = "Datacenter"

In [7]:
# years we want to calculate revenue requirement for
start_year = 2023
end_year = 2072
years = np.arange(start_year, end_year + 1)

### 1. O&M Summary

#### 1a. Variable O&M

In [8]:
# Total owned resources costs (no market purchases/contracts)
total_owned_cost_yearly = []
# Market purchases cost
market_purchases_yearly = []
# Revenues from market sales
market_sales_yearly = []
# Cost of contracts
contract_costs_yearly = []
# Contract Sales
contract_sales_yearly = []
# High Load Capacity Payments = Cost of short capacity in high load scenario
capacity_payments_yearly = []

condition_mask = aurora_portfolio_summary['Condition'] == aurora_condition
run_id_mask = aurora_portfolio_summary['Run_ID'] == Run_ID
portfolio_id_mask = aurora_portfolio_summary['Portfolio_ID'] == aurora_portfolio_ID
aurora_portfolio_summary_filtered = aurora_portfolio_summary[condition_mask & run_id_mask & portfolio_id_mask]

capacity_payments_filtered = capacity_payments[(capacity_payments.Scenarios == Scenario) & (capacity_payments['Case Name'] == case_name)]

aurora_years = np.sort(aurora_portfolio_summary.Time_Period.unique())

for year in aurora_years:
    # select row for current year
    curr_year_data = aurora_portfolio_summary_filtered.loc[(aurora_portfolio_summary_filtered['Time_Period'] == year)]
    curr_year_capacity_payments = capacity_payments_filtered[year]
    # extract data
    total_owned_cost_yearly.append(curr_year_data["Resource_Cost_Total"].sum() * 1000)
    market_purchases_yearly.append(curr_year_data['Market_Purchases_Cost_Total'].sum() * 1000)
    market_sales_yearly.append(curr_year_data['Market_Sales_Cost_Total'].sum() * 1000)
    contract_costs_yearly.append(curr_year_data['Contract_Purchases_Cost_Total'].sum() * 1000)
    contract_sales_yearly.append(curr_year_data['Contract_Sales_Cost_Total'].sum() * 1000)
    capacity_payments_yearly.append(curr_year_capacity_payments.sum())
    
# Summarize
# Net market purchases = Purchases + Sales
net_market_purchases_yearly = [sum(costs) for costs in zip(market_purchases_yearly, market_sales_yearly)]
total_portfolio_cost_yearly= [sum(costs) for costs in zip(total_owned_cost_yearly, net_market_purchases_yearly,
                                                  contract_costs_yearly, contract_sales_yearly)]
total_portfolio_cost_yearly

# dictionary of lists 
VOM_portfolio_cost_dict = {'Year': aurora_years,
        'Total Portfolio Cost': total_portfolio_cost_yearly, 
        'Total Owned Cost': total_owned_cost_yearly, 
        'Net Market Purchases': net_market_purchases_yearly, 
        'Market Purchases (Energy)': market_purchases_yearly,
        'Market Sales (Energy)': market_sales_yearly, 
        'Contract Cost': contract_costs_yearly, 
        'Contract Sales': contract_sales_yearly,
        'High Load Capacity Payment': capacity_payments_yearly} 
   
VOM_portfolio_cost_df = pd.DataFrame(VOM_portfolio_cost_dict)
VOM_portfolio_cost_df.set_index('Year', inplace=True)
VOM_portfolio_cost_df = VOM_portfolio_cost_df.T
VOM_portfolio_cost_df.style.format(precision=2)

#### 1b. Other Fixed Costs

##### 1b.i FOM, Tax, and New Unit FOM

In [9]:
datacenter_scenario_financials_tables = read_excel_with_tables(datacenter_scenario_financials)
list(datacenter_scenario_financials_tables.keys())

['Ongoing CapEx (Nominal$)',
 'FOM (Nominal$)',
 'Decomissioning',
 'Transmission Upgrade Costs - DR Costs',
 'Existing Capital -  Net Book Value BOY',
 'Existing Capital -  Net Book Value EOY',
 'Existing Capital - Tax Value - Federal - BOY',
 'Existing Capital - Tax Value - Federal - EOY',
 'Existing Capital - Tax Value - State - BOY',
 'Existing Capital - Tax Value - State - EOY',
 'Retired',
 'Distribution Offset',
 'Tax Equity Costs',
 'Cumulative Installed Capacity (MW)',
 'Ongoing CapEx ($2021/kW-yr)',
 'Fixed O&M ($2021/kW-yr)',
 'Distribution Offset ($2021/kW)',
 'RT Subhourly and A/S Offset ($2021/kW-yr)']

In [44]:
# FORMAT SOME INPUT TABLES FOR EASIER DATA ACCESS
cumulative_installed_capacity_MW_df = datacenter_scenario_financials_tables['Cumulative Installed Capacity (MW)'].T
cumulative_installed_capacity_MW_df.columns = cumulative_installed_capacity_MW_df.iloc[0]
cumulative_installed_capacity_MW_df = cumulative_installed_capacity_MW_df[1:].rename_axis('Year')

FOM_2021_kw_year_df = datacenter_scenario_financials_tables['Fixed O&M ($2021/kW-yr)'].T
FOM_2021_kw_year_df.columns = FOM_2021_kw_year_df.iloc[0]
FOM_2021_kw_year_df = FOM_2021_kw_year_df[1:].rename_axis('Year')

FOM_years = cumulative_installed_capacity_MW_df.index.values

# MAKE ROWS FOR TABLE
transmission_upgrade_costs_df = datacenter_scenario_financials_tables['Transmission Upgrade Costs - DR Costs']
FOM_yearly = transmission_upgrade_costs_df[transmission_upgrade_costs_df['Category'] == 'FOM']
FOM_yearly = FOM_yearly.loc[:, FOM_yearly.columns.isin(FOM_years)].values[0]
Transmission_Upgrade_OpEx_yearly = transmission_upgrade_costs_df[transmission_upgrade_costs_df['Category'] == 'Transmission Upgrade OpEx']
Transmission_Upgrade_OpEx_yearly = Transmission_Upgrade_OpEx_yearly.loc[:, Transmission_Upgrade_OpEx_yearly.columns.isin(FOM_years)].values[0]
DSM_Costs_yearly = transmission_upgrade_costs_df[transmission_upgrade_costs_df['Category'] == 'DSM Costs']
DSM_Costs_yearly = DSM_Costs_yearly.loc[:, DSM_Costs_yearly.columns.isin(FOM_years)].values[0]
PTC_or_ITC = financial_scalars_inputs.loc['Long-term solar projects ITCs or PTCs?'].values[0]
if PTC_or_ITC == "ITC":
    tax_equity_costs_df = datacenter_scenario_financials_tables['Tax Equity Costs']
    tax_equity_costs_CA1_CA2_yearly = tax_equity_costs_df[tax_equity_costs_df.Category == 'Cash Distributions/OpEx for TE - CA1 & CA2']
    tax_equity_costs_CA1_CA2_yearly = tax_equity_costs_CA1_CA2_yearly.loc[:, tax_equity_costs_CA1_CA2_yearly.columns.isin(FOM_years)].values[0]
    tax_equity_costs_longterm_solar_yearly = tax_equity_costs_df[tax_equity_costs_df.Category == 'Cash Distributions/OpEx for TE- Long-Term Solar']
    tax_equity_costs_longterm_solar_yearly = tax_equity_costs_longterm_solar_yearly.loc[:, tax_equity_costs_longterm_solar_yearly.columns.isin(FOM_years)].values[0]
else:
    tax_equity_costs_CA1_CA2_yearly = [0] * len(FOM_years)
    tax_equity_costs_longterm_solar_yearly = [0] * len(FOM_years)

wind_FOM_yearly = get_resource_FOM('Wind - WI').values[0]
H2_Enabled_RICE_FOM_yearly = get_resource_FOM('H2 Enabled RICE').values[0]
Paired_Li_Ion_Battery_10_Bonus_ITC_FOM_yearly = get_resource_FOM('Paired Li Ion Battery_10% Bonus ITC').values[0]
Standalone_Li_Ion_Battery_FOM_yearly = get_resource_FOM('Standalone Li Ion Battery').values[0]
Paired_Li_Ion_Battery_FOM_yearly = get_resource_FOM('Paired Li Ion Battery').values[0]
Paired_Li_Ion_Battery_no_ITC_FOM_yearly = get_resource_FOM('Paired Li Ion Battery_no ITC').values[0]
Solar_and_Storage_WI_FOM_yearly = get_resource_FOM('Solar and Storage - WI').values[0]
CA1_2022_FOM_yearly = get_resource_FOM('CA1 - 2022').values[0]
CA1_2023_FOM_yearly = get_resource_FOM('CA1 - 2023').values[0]
CA2_2023_FOM_yearly = get_resource_FOM('CA2 - 2023').values[0]
Long_Term_Solar_FOM_yearly = get_resource_FOM('Long-Term Solar').values[0]
Flow_Battery_Med_8_hrs_FOM_yearly = get_resource_FOM('Flow Battery - Med 8 hrs').values[0]
AGP_Neenah_Sheboygan_FOM_yearly = get_resource_FOM('AGP Neenah & Sheboygan').values[0]
AGP_Riverside_FOM_yearly = get_resource_FOM('AGP Riverside').values[0]

# Gas CCGT FOM is a bit more involved because we need to add in separate CSS FOM values
# NOTE - CSS FOM starts a year before we actually have capacity. TBD on what to do here.
# This is also currently incorrectly coded in the Excel model - CSS values offset by a year in the summation.
Gas_CCGT_with_CCS_FOM_yearly = get_resource_FOM('Gas CCGT with CCS')
CCS_FOM_df = CCS_inputs_tables['$ FOM'][CCS_inputs_tables['$ FOM']['Aurora ID'] == aurora_portfolio_ID].drop(columns='Aurora ID')
Gas_CCGT_FOM_df = pd.concat([CCS_FOM_df, Gas_CCGT_with_CCS_FOM_yearly])
Gas_CCGT_with_CCS_FOM_yearly = Gas_CCGT_FOM_df.sum(skipna=True).values

# Gas CCGT FOM is a bit more involved because we need to use a separate input that is nominal (not pre-inflated)
hydrogen_island_capacity_yearly = cumulative_installed_capacity_MW_df['H2 Island']
hydrogen_island_capacity_yearly = hydrogen_island_capacity_yearly * 1000 # convert MWs to KWs
hydrogen_island_FOM = hydrogen_island_inputs['FOM'].set_index('Year')
hydrogen_island_FOM_yearly = hydrogen_island_FOM_df[Scenario]
hydrogen_island_yearly_df = pd.merge(hydrogen_island_capacity_yearly, hydrogen_island_FOM_yearly, on='Year')
hydrogen_island_yearly_df.columns = ['Capacity','FOM']
hydrogen_island_yearly_df['Total FOM'] =  hydrogen_island_yearly_df['Capacity'] * hydrogen_island_yearly_df['FOM']
hydrogen_total_FOM_yearly = hydrogen_island_yearly_df['Total FOM'] 
H2_island_FOM_yearly = hydrogen_total_FOM_yearly.to_frame().T
H2_island_FOM_yearly = H2_island_FOM_yearly.values[0]

new_unit_FOM_yearly = np.sum([wind_FOM_yearly,
                           H2_island_FOM_yearly,
                           H2_Enabled_RICE_FOM_yearly,
                           Paired_Li_Ion_Battery_10_Bonus_ITC_FOM_yearly,
                           Standalone_Li_Ion_Battery_FOM_yearly,
                           Paired_Li_Ion_Battery_FOM_yearly,
                           Paired_Li_Ion_Battery_no_ITC_FOM_yearly,
                           Solar_and_Storage_WI_FOM_yearly,
                           CA1_2022_FOM_yearly,
                           CA1_2023_FOM_yearly,
                           CA2_2023_FOM_yearly,
                           Long_Term_Solar_FOM_yearly,
                           Flow_Battery_Med_8_hrs_FOM_yearly,
                           Gas_CCGT_with_CCS_FOM_yearly,
                           AGP_Neenah_Sheboygan_FOM_yearly,
                           AGP_Riverside_FOM_yearly], axis=0)

# dictionary of lists 
FOM_portfolio_cost_dict = {'Year': FOM_years,
                           'FOM': FOM_yearly,
                           'Transmission Upgrade OpEx': Transmission_Upgrade_OpEx_yearly,
                           'DSM Costs': DSM_Costs_yearly,
                           'Tax Equity Costs - CA1 & CA2': tax_equity_costs_CA1_CA2_yearly,
                           'Tax Equity Costs - Long-Term Solar': tax_equity_costs_longterm_solar_yearly,
                           'New Unit FOM': new_unit_FOM_yearly,
                           'Wind - WI - FOM': wind_FOM_yearly,
                           'H2 Island': H2_island_FOM_yearly,
                           'H2 Enabled RICE': H2_Enabled_RICE_FOM_yearly,
                           'Paired Li Ion Battery_10% Bonus ITC': Paired_Li_Ion_Battery_10_Bonus_ITC_FOM_yearly,
                           'Standalone Li Ion Battery': Standalone_Li_Ion_Battery_FOM_yearly,
                           'Paired Li Ion Battery': Paired_Li_Ion_Battery_FOM_yearly,
                           'Paired Li Ion Battery_no ITC': Paired_Li_Ion_Battery_no_ITC_FOM_yearly,
                           'Solar and Storage - WI': Solar_and_Storage_WI_FOM_yearly,
                           'CA1 - 2022': CA1_2022_FOM_yearly,
                           'CA1 - 2023': CA1_2023_FOM_yearly,
                           'CA2 - 2023': CA2_2023_FOM_yearly,
                           'Long-Term Solar': Long_Term_Solar_FOM_yearly,
                           'Flow Battery - Med 8 hrs': Flow_Battery_Med_8_hrs_FOM_yearly,
                           'Gas CCGT with CCS': Gas_CCGT_with_CCS_FOM_yearly,
                           'AGP Neenah & Sheboygan': AGP_Neenah_Sheboygan_FOM_yearly,
                           'AGP Riverside': AGP_Riverside_FOM_yearly} 

FOM_portfolio_cost_df = pd.DataFrame(FOM_portfolio_cost_dict)
FOM_portfolio_cost_df.set_index('Year', inplace=True)
FOM_portfolio_cost_df = FOM_portfolio_cost_df.T
FOM_portfolio_cost_df.style.format(precision=0)

##### 1b.ii New Unit Subhourly / Ancillary Revenue