## WPL Financial Model

### Next Steps 
- QC on more model inputs (Rowen gave me a new set of models to try out)
- Implement some QC functionality
    1. Logical checks (e.g., do the columns have the correct range of values? are numbers negative in places they shouldn't be?)
    2. Financial checks

### Features to Add
- Make a summary output of all runs that matches what we do currently in Excel
- Automate some of the input assumption calculations (i.e., the things that are not hard coded in Excel model's input sheets)
    - Only worth doing for data that usually comes in a specified format
- Potentially add toggles this workbook to switch between scenarios easily and see all the outputs? 
- Implement more QC functionality
- Add more explanations of how/why things are they way they are
    - Could potentially use this as a financial model training tool, in which we explain the calculations more than is possible in an Excel workbook


### Excel Model Differences


- In excel model like 353 (New CapEx for captial charge calculation), we take the cumulative sum of new CapEx every year. After the end-effects period started, we stopped adding in 2022 CapEx. In the Python, we add in the 2022 values into the end-effects period (and I updated a copy of the excel to match). Not clear if this is intentional.
- In excel model, the rate base sum of depreciation was not including CA1/2 solar depreciation during the end-effects period, so I added that back in (in the Python and copy of the model).
- In the excel model, line 54 (with FOM costs for Gas) was incorrectly index-matching to the input sheet, so all the FOM costs were off by a year.
- [*Did not change this but need to verify that this is intentional*] There is a change in several lines of the capital charge section starting in 2055. We basically switch from using normal formulas to the end-effects formulas that just inflate the previous year's value. 2055 is not the start of end-effects or solar extension, which is confusing because this formula change only happens at the start of one of those periods.

### Python Pros & Cons

*Pros:*
- Super easy to scale the model in Python. We can input any number of plants and the script will work. In excel, would need to reformat the entire workbook to get it to work. Extending formulas in excel can be a bit unstable if cells are not frozen correctly.
- Harder to make mistakes in some ways (e.g., You can't accidently move a cell in the wrong place)
- Way easier to add documentation (whether through comments or chunks of text like these)
- Easier to understand what information is getting processed (since we can name variables in formulas instead of having everything referencing cell numbers and letters)
- Consecutive logic is easier to follow (in my opinion)
- Easier to make and remove changes: you can leave the base revenue requirement calculations alone and make one-off changes in a more isolated way than is possible in Excel
- Faster running time (might not be a huge deal for WPL model - would be more relevant to something like the competitive transmission financial moderl that is a lot more dynamic)

*Cons:*
- Some loss of visibility: e.g., Can't quickly look into a formula to see how a number is calculated 
- Excel is easier for quick calculations that can be helpful during modeling
- More people are familiar with Excel, which is important for QC'ing
    - However, it may not be the case that people are actually diving into the formulas when they QC - should consider what we can do with the Python output to be as QC'able as possible
- Easier to make formatting look nice

### Import packages

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
from datetime import datetime
import pathlib
from datetime import date
import numpy_financial as npf
from openpyxl import Workbook
from openpyxl.styles import Font, PatternFill, Alignment, numbers, Border, Side

import re

# Pause future warnings for cleaner output
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

### Import Data and Supporting Functions

In [2]:
# Set the path to the folder containing your Excel files
folder_path = '/Users/alomsadze/OneDrive - Charles River Associates International/Desktop/WPL/Python Version/'
model_inputs = pd.ExcelFile(folder_path + "Direct Model Inputs.xlsx")

sys.path.append(folder_path + '/funcs/')

# Import functions we wrote to support calculations from separate .py files
from data_processing_functions import *
from O_and_M_functions import *
from plant_specific_functions import *
from depreciation_functions import *
from deferred_tax_functions import *
from tax_credit_functions import *
from capital_charge_functions import *
from excel_output_funcs import *

**Loading Individual Sheets & Preprocessing**

The 'Model Inputs' workbook is a single workbook that contains all data used for our model assumptions. 
- We "parse" each sheet individually to read it in. 
- Some sheets have multiple tables, so we use a custom function to save those tables in a dictionary. 
- We also remove trailing and leading white space from some of the tables' column names, as whitespaces might arise when tables are made in Excel, which can cause issues down the line while coding (such as indexing a dataframe by the name of a column).

In [3]:
# scalar financial inputs
financial_inputs = model_inputs.parse("Financial Inputs", header=None)
financial_inputs_tables = read_excel_with_tables(financial_inputs)
financial_scalars_inputs = financial_inputs_tables['Scalar Inputs'].set_index('Scalar Input')
# inflation vector
inflation_vector_df = financial_inputs_tables['Inflation Vector - Base Year 2021$']
inflation_vector = inflation_vector_df.set_index('Year')['Scalar']

# AURORA output files
aurora_portfolio_summary = model_inputs.parse("Portfolio Summary")
aurora_portfolio_resource = model_inputs.parse("Portfolio Resource")

# SCENARIO: Baseline - financials
baseline_scenario_financials = model_inputs.parse("Baseline", header=None)
baseline_scenario_financials_tables = read_excel_with_tables(baseline_scenario_financials)
# SCENARIO: Datacenter - financials
datacenter_scenario_financials = model_inputs.parse("Datacenter Scenario Financials", header=None)
datacenter_scenario_financials_tables = read_excel_with_tables(datacenter_scenario_financials)
# SCENARIO: Datacenter No Ext- financials
datacenter_no_ext_scenario_financials = model_inputs.parse("Datacenter No Ext Scenario", header=None)
datacenter_no_ext_scenario_financials_tables = read_excel_with_tables(datacenter_no_ext_scenario_financials)

# capacity payment info
capacity_payments = model_inputs.parse("Capacity Payments")
# CCS inputs
CCS_inputs = model_inputs.parse("CCS", header=None)
CCS_inputs_tables = read_excel_with_tables(CCS_inputs)
# hydrogen island inputs
hydrogen_island_inputs = read_excel_with_tables(model_inputs.parse("Hydrogen Island", header=None))
# ancillary revenue inputs
AS_RT_inputs = remove_whitespaces_from_df(model_inputs.parse("AS_RT Value"))
# Capital Costs inputs
capital_costs = remove_whitespaces_from_df(model_inputs.parse("Capital Costs"))
# PTC and ITC inputs
ptcs_and_itcs = model_inputs.parse("PTCs and ITCs", header=None)
ptcs_and_itcs_tables = read_excel_with_tables(ptcs_and_itcs)
# AGP inputs
AGP_inputs = remove_whitespaces_from_df(model_inputs.parse("AGP"))

## Revenue Requirement Calculations

Set global variables --- this section is in a temporary state. The ultimate code will run over all IDs/Scenarios, but for now, we're just using these to build the model.

In [94]:
# Scenario and Run Variables 
aurora_iteration = 'CIC'#'CIC'MS_AGP NR_AGP ACT_AGP AD_AGP
iteration = 'Continue_Change'#'Continue_Change' Market_Stagnation New_Regulation Advanced_Customers Accelerated_Decarbonization
year = 2023 
aurora_portfolio_ID = 2 #(1-baseline, 2- datacenter, 5-datacenter no ext) # IMPROVEMENT TO DO - LINK THIS TO CASE_NAME SO WE ONLY NEED TO CHANGE CASE NAME
aurora_condition = 'ATC'
use_IRA = True
case_name = 'Datacenter' #'Datacenter_no_ext' Datacenter Baseline

# Set current scenario financials tables
scenario_financials_tables = datacenter_scenario_financials_tables #datacenter_scenario_financials_tables

# Years we want to calculate revenue requirement for 
rev_req_start_year = 2023
rev_req_end_year = 2047
end_effects_end_year = 2057
solar_extension_end_year = 2072
end_effects = True
solar_extension = True
inflation_rate = 0.021

# Make a dict of these variables so we can easily pass them into functions using just one variable
run_variables_dict = {
    'case_name': case_name,
    'iteration': iteration,
    'aurora_iteration': aurora_iteration,
    'aurora_condition': aurora_condition,
    'use_IRA': use_IRA,
    'year': year,
    'aurora_portfolio_ID': aurora_portfolio_ID,
    'rev_req_start_year': rev_req_start_year,
    'rev_req_end_year': rev_req_end_year,
    'end_effects_end_year': end_effects_end_year,
    'solar_extension_end_year': solar_extension_end_year}

### 1. O&M Summary

Prior to calculations, reformat some of the input data to make it easier to handle in our calculations. Theortically, we will remove this once section once all the input data is caclulated in python instead of Excel

In [95]:
cumulative_installed_capacity_MW_df = scenario_financials_tables['Cumulative Installed Capacity (MW)']
cumulative_installed_capacity_MW_df = cumulative_installed_capacity_MW_df.set_index('Category')

FOM_2021_kw_year_df = scenario_financials_tables['Fixed O&M ($2021/kW-yr)']
FOM_2021_kw_year_df = FOM_2021_kw_year_df.set_index('Category')

AS_RT_curr_inputs = AS_RT_inputs[AS_RT_inputs.Scenario == iteration]
AS_RT_curr_inputs = AS_RT_curr_inputs.drop(columns = 'Scenario').set_index('Year').T

FOM_years = cumulative_installed_capacity_MW_df.columns.values

# capacity additions inputs
new_capacity_additions_annual_df = scenario_financials_tables['New Capacity Additions Annual (MW)'].set_index('Year')
new_capacity_additions_annual_df = new_capacity_additions_annual_df.T

####  Calculate Variable O&M , Fixed O&M, Subhourly & Ancillary Revenue from new builds

In [96]:
VOM_portfolio_cost_df = calc_VOM(run_variables_dict, 
                          aurora_portfolio_summary,
                          capacity_payments,
                          end_effects=True,
                          solar_extension=True)

FOM_yearly_general_df = calc_FOM(run_variables_dict,
                                 scenario_financials_tables, 
                                 FOM_years, 
                                 financial_scalars_inputs)

FOM_portfolio_cost_df = calc_new_resource_FOM(run_variables_dict,
                                              FOM_years,
                                              cumulative_installed_capacity_MW_df, 
                                              FOM_2021_kw_year_df, 
                                              inflation_vector,
                                              CCS_inputs_tables,
                                              hydrogen_island_inputs)

AS_RT_portfolio_cost_df = calc_new_resource_AS_RT(run_variables_dict,
                                                  FOM_years,
                                                  AS_RT_curr_inputs, 
                                                  cumulative_installed_capacity_MW_df)

In [97]:
VOM_portfolio_cost_df = calc_VOM(run_variables_dict, 
                          aurora_portfolio_summary,
                          capacity_payments,
                          end_effects=True,
                          solar_extension=True)
VOM_portfolio_cost_df.style.format(precision=0)

#### Combine all VOM data

In [98]:
dfs_to_stack = [VOM_portfolio_cost_df, FOM_yearly_general_df, FOM_portfolio_cost_df, AS_RT_portfolio_cost_df]
O_and_M_summary = stack_dataframes(dfs_to_stack)

# calculate total O&M and put it into summary
total_O_and_M_costs = O_and_M_summary.loc[['Total Portfolio Cost', 
                                     'High Load Capacity Payment', 
                                     'FOM', 
                                     'Transmission Upgrade OpEx', 
                                     'DSM Costs', 
                                     'Tax Equity Costs - CA1 & CA2', 
                                     'New Unit FOM', 
                                     'New Unit Subhourly / Ancillary Revenue']].sum(axis=0, skipna=True)

# Insert total O&M cost row into first row of dataframe and format
O_and_M_summary = pd.concat([O_and_M_summary.iloc[:0], pd.DataFrame([total_O_and_M_costs]), O_and_M_summary.iloc[0:]])
O_and_M_summary.rename(index={O_and_M_summary.index[0]: 'Total O&M Costs'}, inplace=True)

O_and_M_summary.style.format(precision=0)

### 2. Existing Plant

In [99]:
existing_plant_NPV_BOY, existing_plant_NPV_EOY, existing_plant_depreciation, total_existing_plant_summary = calc_existing_plant_summary(run_variables_dict, scenario_financials_tables, financial_scalars_inputs)
#total_existing_plant_summary.style.format(precision=0)

df2 is missing columns: 2058, 2068, 2048, 2049, 2066, 2067, 2050, 2061, 2059, 2064, 2063, 2053, 2056, 2052, 2051, 2054, 2060, 2071, 2062, 2055, 2065, 2070, 2072, 2057, 2069

### 3. Rate Base Inputs (CapEx, Ongoing CapEx)

#### New CapEx Calculations

In [100]:
# Prepare capital costs
curr_capital_costs = capital_costs[capital_costs.Scenario == iteration].drop(columns = 'Scenario')
curr_capital_costs = curr_capital_costs.set_index('Year').T

# Create New CapEx Table (calculates as capacity * 1000 * capital costs * inflation)
new_capex_df = convert_capacity_table_to_cost_table(new_capacity_additions_annual_df,
                                        curr_capital_costs, 
                                        inflation_vector,
                                        name_adjuster = 'New CapEx -')

# AGP specific adjustments requested by client
sheb_neenah_units = ['Neenah CT1', 'Neenah CT2', 'Sheboygan CT1', 'Sheboygan CT2']
AGP_sheb_neenah_inputs = AGP_inputs[AGP_inputs['Unit'].isin(sheb_neenah_units)]
AGP_sheb_neenah_inputs['Cap Costs ($2021)'].sum() * inflation_vector[2026]
new_capex_df.loc['New CapEx - AGP Neenah & Sheboygan', 2026] = AGP_sheb_neenah_inputs['Cap Costs ($2021)'].sum() * inflation_vector[2026] 

# The version of the new_capex_df with accumulated AFUDC is calculated in the AFUDC section because it needs those values
new_capex_df.style.format(precision=0)

#### Ongoing CapEx Calculations

In [101]:
# Handle extension period
def add_new_years(df, start_year, end_year, inflation_rate): 
    # Create a range of new years
    new_years = range(start_year, end_year + 1)
    # Create a new DataFrame with zeros
    new_data = pd.DataFrame(0, columns=new_years, index=df.index)
    
    # Update each row with cumulative inflation rates
    for row in df.index:
        last_value = df.loc[row].iloc[-1]
        for year in new_years:
            last_value *= (1 + inflation_rate)
            new_data.at[row, year] = last_value

    # Concatenate the existing DataFrame with the new DataFrame
    result_df = pd.concat([df, new_data], axis=1)
    return result_df

In [102]:
### Existing Resource Ongoing CapEx

ongoing_capex_by_plant_df = scenario_financials_tables['Ongoing CapEx by Plant Summary'].set_index('Category')
ongoing_capex_by_plant_df = ongoing_capex_by_plant_df.drop(['Decomissioning', 'FOM', 'DSM Costs'])
# we hard code ongoing capex for transmission upgrade cost as 0 
ongoing_capex_by_plant_df.loc['Transmission Upgrade OpEx'] = 0

# Account for extension period
if end_effects:
    end_year = run_variables_dict['end_effects_end_year']
    # add extension data
    ongoing_capex_by_plant_df = add_new_years(ongoing_capex_by_plant_df, 
                                            ongoing_capex_by_plant_df.columns[-1] + 1, 
                                            end_year, 
                                            inflation_rate)

### New Resource Ongoing CapEx

# Get Ongoing CapEx per resource & Capacity by resource
new_resource_ongoing_capex = scenario_financials_tables['Ongoing CapEx ($2021/kW-yr)'].set_index('Category')
new_resource_ongoing_capex = new_resource_ongoing_capex.drop('New4') # Drop New4 line

# Calculate total ongoing capex by resource
ongoing_capex_by_new_resource_df = convert_capacity_table_to_cost_table(cumulative_installed_capacity_MW_df, 
                                         new_resource_ongoing_capex, 
                                         inflation_vector, 
                                         name_adjuster = 'Ongoing CapEx -')

# Add total to datafgrame
total_new_resource_ongoing_capex = ongoing_capex_by_new_resource_df.sum(axis=0)
ongoing_capex_by_new_resource_df = pd.concat([ongoing_capex_by_new_resource_df.iloc[:0], pd.DataFrame([total_new_resource_ongoing_capex]), ongoing_capex_by_new_resource_df.iloc[0:]])
ongoing_capex_by_new_resource_df.rename(index={ongoing_capex_by_new_resource_df.index[0]: 'Ongoing CapEx - New - Total'}, inplace=True)

### Stack
ongoing_capex_df = stack_dataframes([ongoing_capex_by_plant_df, ongoing_capex_by_new_resource_df])
ongoing_capex_df.style.format(precision=0)

df2 is missing columns: 2049, 2053, 2056, 2048, 2057, 2052, 2051, 2054, 2021, 2050, 2055

### 4. AFUDC Calculations

To - do: confirm the choice to start AFUDC schedule in 2022

In [103]:
# Create a version of the capex table to use for calcs
new_capex_df_copy = new_capex_df.copy()
new_capex_df_copy.index = new_capex_df_copy.index.str.replace('New CapEx - ', '')

# Create empty AFUDC schedule df
AFUDC_schedule_df = new_capex_df_copy.copy() * 0
AFUDC_schedule_df = AFUDC_schedule_df.drop(columns=2022) # dropping 2022 to match format in Excel # To - do: confirm this choice

# Get unit spend schedules
new_unit_spend_schedule_df = remove_whitespaces_from_df(financial_inputs_tables['New Unit Spend Schedule (% of total spend)'])
new_unit_spend_schedule_with_metadata_df = remove_whitespaces_from_df(financial_inputs_tables['New Unit Spend Schedule with Metadata'])
new_unit_spend_schedule_with_metadata_df = new_unit_spend_schedule_with_metadata_df.set_index('Year of Construction')

In [104]:
### Calculate AFUDC Schedule
AFUDC_schedule_df = new_capex_df_copy.copy() * 0
AFUDC_schedule_df = AFUDC_schedule_df.apply(lambda col: col.index.map(lambda row_index: calculate_AFUDC_schedule(col.name, row_index, new_capex_df_copy, new_unit_spend_schedule_df)))
#AFUDC_schedule_df.style.format(precision=0)

In [105]:
### Calculate AFUDC with Rate
AFUDC_with_rate_df = AFUDC_schedule_df.copy() * 0
AFUDC_with_rate_df = AFUDC_with_rate_df.apply(lambda col: col.index.map(lambda row_index: calculate_AFUDC_with_rate(col.name, row_index, new_capex_df_copy, new_unit_spend_schedule_with_metadata_df)))
#AFUDC_with_rate_df.style.format(precision=0)

In [106]:
### Calculate Accumulated AFUDC
AFUDC_accumulated_df = AFUDC_schedule_df.copy() * 0

for year in AFUDC_accumulated_df.columns:
    for plant in AFUDC_accumulated_df.index:
        capex = new_capex_df_copy.loc[plant, year]
        if capex != 0:
            AFUDC_rate_sum = sum(AFUDC_with_rate_df.loc[plant, AFUDC_with_rate_df.columns <= year])
            prev_AFUDC_accumulated_sum = sum(AFUDC_accumulated_df.loc[plant, AFUDC_with_rate_df.columns < year])
            AFUDC_accumulated_df.loc[plant, year] = AFUDC_rate_sum - prev_AFUDC_accumulated_sum

#AFUDC_accumulated_df

In [107]:
new_capex_with_accumulated_AFUDC = new_capex_df_copy.copy() + AFUDC_accumulated_df.copy()
#new_capex_with_accumulated_AFUDC.style.format(precision=0)

### 5. Depreciation Tables

In [108]:
plant_book_and_tax_life = financial_inputs_tables['Book and Tax Life by Plant']
tax_depreciation_schedules = financial_inputs_tables['Tax Depreciation Schedules - Half Year Convention']
IRA_noIRA_depreciation_categories = financial_inputs_tables['Book and Tax Life - Depreciation Category']

# Get list of depreciation categories to make depeciaition tables for
depreciation_plants = list(plant_book_and_tax_life['Plant'])

In [109]:
# Make a book depreciation dictionary and tax depreciation dict where we can store depreciaiton tables

book_depreciation_tables_dict = {}
tax_depreciation_tables_dict = {}

# Set a fixed start year if needed, otherwise set as None
fixed_start_year = 2022

# Determine depreciaiton categories based on whether IRA is being modeled
if use_IRA == True:
    depreciation_categories = IRA_noIRA_depreciation_categories.drop(columns='With Tax Equity (no IRA)')
else:
    depreciation_categories = IRA_noIRA_depreciation_categories.drop(columns='Without Tax Equity (refundable through IRA)')
depreciation_categories = depreciation_categories.rename(columns={depreciation_categories.columns[0]: "Plant Type", 
                                                                  depreciation_categories.columns[1]: "Depreciation Category"})

# Reformat New CapEx DF that contains IRA/no-IRA dependent labeling
new_capex_by_depreciation_df = new_capex_with_accumulated_AFUDC.copy()
new_capex_by_depreciation_df['Plant Type'] = new_capex_by_depreciation_df.index.str.replace('New CapEx - ', '')
new_capex_by_depreciation_df = pd.merge(new_capex_by_depreciation_df, depreciation_categories, on='Plant Type', how='left')
new_capex_by_depreciation_df = new_capex_by_depreciation_df.drop(columns=['Plant Type'])
new_capex_by_depreciation_df = new_capex_by_depreciation_df.set_index('Depreciation Category')

# For "Other Gen" depreciation, we use the sum of ongoing capex of "Ongoing CapEx - Other Gen" and "New resources capex"
#   We update the ongoing capex table accordingly
ongoing_capex_df_adjusted = ongoing_capex_df.copy()
ongoing_capex_df_adjusted.loc['Ongoing CapEx - Other Gen'] = (ongoing_capex_df_adjusted.loc['Ongoing CapEx - Other Gen'] +
                                                     ongoing_capex_df_adjusted.loc['Ongoing CapEx - New - Total'].fillna(0))

# Loop over each plant to make depreciation tables for & add then to their dicts
for plant in depreciation_plants:
    
    # Find the depreciation schedule
    depreciation_schedule = plant_book_and_tax_life[plant_book_and_tax_life['Plant'] == plant]

    # Retrieve the ongoing or new CapEx for the plant
    no_capex = False
    if 'Ongoing' in plant:
        capex_stream = ongoing_capex_df_adjusted.loc[ongoing_capex_df_adjusted.index == plant]
    
    # Go to new CapEx table
    else:
        if plant not in new_capex_by_depreciation_df.index:
            # Return a zero row
            capex_stream = pd.DataFrame(0, index=[0], columns=new_capex_by_depreciation_df.columns)
        else:
            capex_stream = new_capex_by_depreciation_df[new_capex_by_depreciation_df.index == plant].groupby(level=0).sum()
    
    # If sum of capex is 0, there is no depreciation we can do
    sum_of_capex = capex_stream.sum(axis=1).values
    if sum_of_capex == 0:
        no_capex = True       
        
    # Create the depreciaiton tables and store them in their respective dictionaries
    if no_capex == True:
        book_depreciation_tables_dict[plant] = "None because no CapEx provided"
        tax_depreciation_tables_dict[plant] = "None because no CapEx provided"
    else:
        curr_book_depreciation = create_book_depreciation_schedule(capex_stream, int(depreciation_schedule['Book']), fixed_start_year)
        book_depreciation_tables_dict[plant] = curr_book_depreciation
        # if tax depreciation is 0, use the book depreciation as tax depreciation. otherwise, depreciate using a MACRS schedule
        if int(depreciation_schedule['Tax']) == 0:
            tax_depreciation_tables_dict[plant] = curr_book_depreciation
        else:
            tax_depreciation_tables_dict[plant] = create_tax_depreciation_schedule(capex_stream, int(depreciation_schedule['Tax']), tax_depreciation_schedules, fixed_start_year)

In [110]:
"""
# Display each dataframe in a nice format
for key, df in book_depreciation_tables_dict.items():
    display(key)
    if type(df) == pd.DataFrame:
        print('---> Book Depreciation table below:')
        display(df.style.format(precision=0))
    else:
        print('---> No depreciation because no CapEx provided for unit.')
 """

"\n# Display each dataframe in a nice format\nfor key, df in book_depreciation_tables_dict.items():\n    display(key)\n    if type(df) == pd.DataFrame:\n        print('---> Book Depreciation table below:')\n        display(df.style.format(precision=0))\n    else:\n        print('---> No depreciation because no CapEx provided for unit.')\n "

In [112]:
# Display each dataframe in a nice format
"""
# Display each dataframe in a nice format
for key, df in tax_depreciation_tables_dict.items():
    display(key)
    if type(df) == pd.DataFrame:
        print('---> Tax Depreciation table below:')
        display(df.style.format(precision=0))
    else:
        print('---> No depreciation because no CapEx provided for unit.')   
"""

"\n# Display each dataframe in a nice format\nfor key, df in tax_depreciation_tables_dict.items():\n    display(key)\n    if type(df) == pd.DataFrame:\n        print('---> Tax Depreciation table below:')\n        display(df.style.format(precision=0))\n    else:\n        print('---> No depreciation because no CapEx provided for unit.')   \n"

### 6. Deferred Tax Calcs

In [113]:
BOY_state_tax = scenario_financials_tables['Existing Capital - Tax Value - State - BOY'].set_index('Plant Name').loc[['Total']]
EOY_state_tax = scenario_financials_tables['Existing Capital - Tax Value - State - EOY'].set_index('Plant Name').loc[['Total']]

BOY_federal_tax = scenario_financials_tables['Existing Capital - Tax Value - Federal - BOY'].set_index('Plant Name').loc[['Total']]
EOY_federal_tax = scenario_financials_tables['Existing Capital - Tax Value - Federal - EOY'].set_index('Plant Name').loc[['Total']]

In [114]:
# Handle extension period
def add_new_years(df, start_year, end_year, inflation_rate): 
    # Create a range of new years
    new_years = range(start_year, end_year + 1)
    # Create a new DataFrame with zeros
    new_data = pd.DataFrame(0, columns=new_years, index=df.index)
    # Update the "New Unit FOM" row with cumulative inflation rates
    last_value = df.loc['Total'].iloc[-1]
    for year in new_years:
        last_value *= (1 + inflation_rate)
        new_data.at['Total', year] = last_value
    # Concatenate the existing DataFrame with the new DataFrame
    result_df = pd.concat([df, new_data], axis=1)
    return result_df    
    
if end_effects:
    end_year = run_variables_dict['end_effects_end_year']
if solar_extension:
    end_year = run_variables_dict['solar_extension_end_year']

if end_effects or solar_extension:
    BOY_state_tax = add_new_years(BOY_state_tax, BOY_state_tax.columns[-1]+1, end_year, inflation_rate)
    EOY_state_tax = add_new_years(EOY_state_tax, EOY_state_tax.columns[-1]+1, end_year, inflation_rate)
    BOY_federal_tax = add_new_years(BOY_federal_tax, BOY_federal_tax.columns[-1]+1, end_year, inflation_rate)
    EOY_federal_tax = add_new_years(EOY_federal_tax, EOY_federal_tax.columns[-1]+1, end_year, inflation_rate)

In [115]:
### State Deferred Taxes Only
state_tax_rate = financial_scalars_inputs.loc['State Income Tax Rate'][0]
deferred_tax_state_df = calc_deferred_taxes(state_tax_rate,
                                            BOY_state_tax, 
                                            EOY_state_tax,
                                            book_depreciation_tables_dict,
                                            tax_depreciation_tables_dict,
                                            existing_plant_depreciation, 
                                            total_existing_plant_summary, 
                                            existing_plant_NPV_BOY)
deferred_tax_state_df.style.format(precision=0)

In [116]:
### Federal Deferred Taxes Only
federal_tax_rate = financial_scalars_inputs.loc['Federal Income Tax Rate'][0]

deferred_tax_federal_df = calc_deferred_taxes(federal_tax_rate,
                                            BOY_federal_tax, 
                                            EOY_federal_tax,
                                            book_depreciation_tables_dict,
                                            tax_depreciation_tables_dict,
                                            existing_plant_depreciation, 
                                            total_existing_plant_summary, 
                                            existing_plant_NPV_BOY)
deferred_tax_federal_df.style.format(precision=0)

In [117]:
### Blended State and Federal Deferred Taxes
deferred_tax_blended_df = deferred_tax_federal_df.copy()
blended_deferred_tax_new_capital = deferred_tax_federal_df.loc[['Deferred Tax - New Capital']] + deferred_tax_state_df.loc[['Deferred Tax - New Capital']]*(1 - federal_tax_rate)
blended_deferred_tax_existing_capital = deferred_tax_federal_df.loc[['Deferred Tax - Existing Capital']] + deferred_tax_state_df.loc[['Deferred Tax - Existing Capital']]*(1 - federal_tax_rate)
blended_deferred_tax_liability = deferred_tax_federal_df.loc[['Deferred Tax Liability - Existing']] + deferred_tax_state_df.loc[['Deferred Tax Liability - Existing']]*(1 - federal_tax_rate)

deferred_tax_blended_df = calc_deferred_taxes(federal_tax_rate,
                        BOY_federal_tax, 
                        EOY_federal_tax,
                        book_depreciation_tables_dict,
                        tax_depreciation_tables_dict,
                        existing_plant_depreciation, 
                        total_existing_plant_summary, 
                        existing_plant_NPV_BOY,
                        blended_tax_rate = True, 
                        blended_deferred_tax_new_capital = blended_deferred_tax_new_capital,
                        blended_deferred_tax_existing_capital = blended_deferred_tax_existing_capital,                      
                        blended_deferred_tax_liability = blended_deferred_tax_liability)

deferred_tax_blended_df.style.format(precision=0)

### 7. Tax Credit Calculation & Normalized ITC

In [118]:
PTC_df = calculate_ptc(inflation_vector, financial_inputs_tables)
PTC_df.style.format(precision=0)

In [119]:
generation_df = calculate_generation(ptcs_and_itcs_tables, aurora_portfolio_resource, aurora_condition, aurora_iteration,
                                          aurora_portfolio_ID, hydrogen_island_inputs, cumulative_installed_capacity_MW_df,
                                          iteration, CCS_inputs_tables)
generation_df.style.format(precision=0)

In [120]:
old_tax_policy_PTC_generated = calculate_old_tax_policy_PTC_generated(PTC_df, generation_df, financial_inputs_tables, 
                                                                      use_IRA, financial_scalars_inputs)
old_tax_policy_PTC_generated.style.format(precision=0)

In [121]:
IRA_PTC_df = calculate_ira_ptc(generation_df, PTC_df, financial_scalars_inputs, use_IRA)
IRA_PTC_df.style.format(precision=0)

In [122]:
### Total Grossed Up PTC Payment
if use_IRA == True:
    total_grossed_up_ptc = old_tax_policy_PTC_generated.loc[['Grossed Up PTC']] + IRA_PTC_df.loc[['Grossed Up PTC']] 
else:
    total_grossed_up_ptc = old_tax_policy_PTC_generated.loc[['Grossed Up PTC']]
total_grossed_up_ptc.style.format(precision=0)

In [123]:
### NOL
NOL = financial_inputs_tables['Alliant Projected NOL?'].set_index('Year').T
NOL

Year,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,...,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071
0,,,,,,,,,,,,,,,,,,,,,
Alliant Projected NOL?,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

In [124]:
# Extract Storage ITC and update Total IRA ITC Benefit
storage_ITC = ptcs_and_itcs_tables['Storage ITC']
storage_ITC = storage_ITC[storage_ITC.Portfolio == run_variables_dict['case_name']]
storage_ITC.style.format(precision=0)

In [125]:
ITC = calculate_ITC(NOL, financial_inputs_tables, financial_scalars_inputs, ptcs_and_itcs_tables, run_variables_dict)
ITC.style.format(precision=0)

### 8. Rate Base Calculations

In [126]:
# Depreciation - new
new_depreciation = sum_annual_depreciation(book_depreciation_tables_dict)
new_depreciation = new_depreciation.rename(index={new_depreciation.index[0]: 'Depreciation - New'})

# Change in Deferred Tax Liability
changed_in_deferred_tax_liability = (deferred_tax_blended_df.loc['Deferred Tax - New Capital'] 
    + deferred_tax_blended_df.loc['Deferred Tax - Existing Capital'].fillna(0) 
    + ITC.loc['Change in Net Deferred Tax - ITC'])
changed_in_deferred_tax_liability = changed_in_deferred_tax_liability.to_frame().T
changed_in_deferred_tax_liability = changed_in_deferred_tax_liability.rename(index={changed_in_deferred_tax_liability.index[0]: 'Change in Deferred Tax Liability'})

# Depreciation Existing
depreciation_existing = existing_plant_depreciation.loc[['Total Depreciation']].copy()
depreciation_existing = depreciation_existing.rename(index={depreciation_existing.index[0]: 'Depreciation - Existing'})

# Additions to Existing Book
additions_to_existing_book = total_existing_plant_summary.loc[['Additions to Existing Book']].copy()

# CapEx
new_capex_with_accumulated_AFUDC_sum = new_capex_with_accumulated_AFUDC.sum()
new_capex_with_accumulated_AFUDC_sum = new_capex_with_accumulated_AFUDC_sum.reindex(ongoing_capex_df.columns, fill_value=0)
total_capex = new_capex_with_accumulated_AFUDC_sum + ongoing_capex_df.drop('Ongoing CapEx - New - Total').sum()
total_capex = total_capex.to_frame().T
total_capex = total_capex.rename(index={total_capex.index[0]: 'CapEx'})

In [127]:
# Make DF and initialize rate base values
dfs_to_stack = [total_capex, new_depreciation, changed_in_deferred_tax_liability, depreciation_existing, additions_to_existing_book]
rate_base_df = stack_dataframes(dfs_to_stack, print_warnings=False)

rate_base_df.loc['Starting Rate Base'] = 0
rate_base_df.loc['Ending Rate Base'] = 0

rate_base_df = rate_base_df.fillna(0)

# make sure the start year of the rate base is the year prior to the revenue requirement start year
rate_base_df = rate_base_df.loc[:, rate_base_df.columns.map(int) >= 2022]

In [128]:
# Initialize starting rate base
rate_base_start_year = min(rate_base_df.columns)
rate_base_df.loc['Starting Rate Base', rate_base_start_year] = (existing_plant_NPV_BOY.loc['Total NPV BOY', rate_base_start_year] 
    - deferred_tax_blended_df.loc['Deferred Tax Liability - Existing', rate_base_start_year])

# Fill in Starting and Ending rate base values
for year in rate_base_df.columns[1:]:
    
    # Starting Rate Base + CapEx, less depreciation and change in deferred taxes - max of 0 so it can never be negative
    rate_base_df.loc['Ending Rate Base', year - 1] = max(rate_base_df.loc['Starting Rate Base', year - 1] 
    + rate_base_df.loc['CapEx', year - 1] 
    - rate_base_df.loc['Depreciation - New', year - 1] 
    - rate_base_df.loc['Change in Deferred Tax Liability', year - 1]     
    - rate_base_df.loc['Depreciation - Existing', year - 1] 
    + rate_base_df.loc['Additions to Existing Book', year - 1], 0)
    
    # Update starting rate base
    rate_base_df.loc['Starting Rate Base', year] = rate_base_df.loc['Ending Rate Base', year - 1]

In [129]:
rate_base_df.style.format(precision=0)

### 9. Capital Charge Calculations

In [130]:
capital_charge_df = calculate_capital_charge(financial_scalars_inputs, 
                                             rate_base_df,
                                             end_effects=True,
                                             solar_extension=True,
                                             inflation_rate=0.021)
capital_charge_df.style.format(precision=0)

### 10. Retired Plants

In [131]:
retired_plants_df = process_retired_plants(run_variables_dict, scenario_financials_tables, ongoing_capex_df, existing_plant_NPV_EOY, financial_scalars_inputs)
# add in WACC to retired plants df as calculated in the capital charge section
retired_plants_df.loc['Return on %'] = capital_charge_df.loc['Return on (WACC)'].to_dict()

#retired_plants_df

### 11. Revenue Requirement

In [132]:
# Book Depreciation
book_depreciation = (rate_base_df.loc['Depreciation - New'] 
                    + rate_base_df.loc['Depreciation - Existing'] 
                    - total_existing_plant_summary.loc['Depreciation "Credit Back"'].fillna(0))
revenue_requirement_df = book_depreciation.to_frame().T
revenue_requirement_df.rename(index={revenue_requirement_df.index[0]: 'Book Deprecitation'}, inplace=True)

# Total O&M
total_gen_o_m = pd.Series(O_and_M_summary.loc['Total O&M Costs'], index=revenue_requirement_df.columns)
revenue_requirement_df.loc['Total Generation O&M'] = total_gen_o_m

# Capital Charge (- return on retired assets if not allowed reutrn)
capital_charge = pd.Series(capital_charge_df.loc['Return on Ratebase'] - retired_plants_df.loc['Earn Return on $'], index=revenue_requirement_df.columns)
revenue_requirement_df.loc['Capital Charge'] = capital_charge

# Taxes
income_tax_rate = financial_scalars_inputs.loc['Income Tax Rate', 'Value']
taxes = (
    (capital_charge_df.loc['ROE'] / (1 - income_tax_rate)) * income_tax_rate 
    - (retired_plants_df.loc['Income Tax'] + retired_plants_df.loc['Property Tax'])
    - total_grossed_up_ptc.loc['Grossed Up PTC'].reindex(capital_charge_df.loc['ROE'].index, fill_value=0)
    - ITC.loc['Total Grossed Up IRA ITC Benefit'].reindex(capital_charge_df.loc['ROE'].index, fill_value=0)
)
revenue_requirement_df.loc['Taxes'] = taxes

# License Fee
revenue_requirement_df.loc['License Fee'] = revenue_requirement_df.sum() * financial_scalars_inputs.loc['License Fee', 'Value']

# Total Revenue Requirement 
revenue_requirement_df.loc['Total Revenue Requirement'] = revenue_requirement_df.sum()
revenue_requirement_df = revenue_requirement_df.replace(np.nan, None)
revenue_requirement_df.style.format(precision=0)

In [133]:
# NPV RR

# 1. Net Present Value of All Costs (2023-2047)
discount_rate = financial_scalars_inputs.loc['After-Tax WACC', 'Value']
npv = npf.npv(discount_rate, [0] + list(revenue_requirement_df.loc['Total Revenue Requirement', 2023:2047]))
print("NPV RR for net present value of all costs 2023-2047 is ${:,.0f}".format(npv))

# 2. Long-Term NPVRR (2023-2057)
npv_long_term = npf.npv(discount_rate, [0] + list(revenue_requirement_df.loc['Total Revenue Requirement', 2023:2057]))
print("Long Term NPV RR for net present value of all costs 2023-2057 is ${:,.0f}".format(npv_long_term))

# 3. End Effects NPVRR (2023-2072)
npv_end_effects = npf.npv(discount_rate, [0] + list(revenue_requirement_df.loc['Total Revenue Requirement', 2023:2072]))
print("End Effects NPV RR for net present value of all costs 2023-2072 is ${:,.0f}".format(npv_end_effects))


## Make a df to store these

npv_df = {
    'Net Present Value of All Costs (2023-2047)': [npv],
    'Long-Term NPVRR (2023-2057)': [npv_long_term],
    'End Effects NPVRR (2023-2072)': [npv_end_effects]
}

npv_df = pd.DataFrame(npv_df)

npv_df_styled = npv_df.copy().T
#npv_df_styled = npv_df_styled.applymap(lambda x: '${:,.0f}'.format(x) if pd.notna(x) and np.issubdtype(type(x), np.number) else x)
npv_df_styled = npv_df_styled.applymap(lambda x: '${:,.0f}'.format(x) if x is not None else None)
npv_df_styled

NPV RR for net present value of all costs 2023-2047 is $14,447,451,181
Long Term NPV RR for net present value of all costs 2023-2057 is $16,428,982,061
End Effects NPV RR for net present value of all costs 2023-2072 is $17,627,481,159

                                                          0
Net Present Value of All Costs (2023-2047)  $14,447,451,181
Long-Term NPVRR (2023-2057)                 $16,428,982,061
End Effects NPVRR (2023-2072)               $17,627,481,159

### 12. Make Excel Output

In [134]:
# Create Excel workbook

wb = Workbook()
worksheet= wb.active

#### 1. Details about current run
    
# Add header row
header_row = ['Model Run Variables', 'Value']
add_header_row(worksheet, header_row)

# Add data to worksheet
run_vars_df = pd.DataFrame.from_dict(run_variables_dict, orient='index', columns=['Value']).reset_index()
add_data_to_worksheet(worksheet, run_vars_df, 
                      formatting_type='Bold Text')

#### 2. Revenue Requirement Calc

# Add header row
header_row = ['Revenue Requirement Calculation']
add_header_row(worksheet, header_row)

revenue_requirement_df_styled = style_dataframe_with_currency(revenue_requirement_df).reset_index().rename(columns={'index': 'Calculation Components'})
add_data_to_worksheet(worksheet, 
                      revenue_requirement_df_styled,
                      use_cols_as_header = True)


#### 3. Total NPV

# Add header row
header_row = ['Net Present Value of Revenue Requirement (NPV RR)']
add_header_row(worksheet, header_row, color="FAE650")

add_data_to_worksheet(worksheet, 
                      npv_df_styled.reset_index(),
                      use_cols_as_header = False,
                      formatting_type = "Bold Text and Green Money",
                      bold_last_row=True)



#### 4. O&M
header_row = ['O&M Summary']
add_header_row(worksheet, header_row)


VOM_portfolio_cost_df_styled = style_dataframe_with_currency(VOM_portfolio_cost_df).reset_index().rename(columns={'index': 'Variable O&M'})
FOM_yearly_general_df_styled = style_dataframe_with_currency(FOM_yearly_general_df).reset_index().rename(columns={'index': 'New Unit FOM'})
FOM_portfolio_cost_df_styled = style_dataframe_with_currency(FOM_portfolio_cost_df).reset_index().rename(columns={'index': 'Other Fixed Costs'})
AS_RT_portfolio_cost_df = AS_RT_portfolio_cost_df.rename(index={"New Unit Subhourly / Ancillary Revenue": "Total New Unit Subhourly / Ancillary Revenue"})
AS_RT_portfolio_cost_df_styled = style_dataframe_with_currency(AS_RT_portfolio_cost_df).reset_index().rename(columns={'index': 'New Unit Subhourly / Ancillary Revenue'})

add_data_to_worksheet(worksheet, 
                      VOM_portfolio_cost_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money")
add_data_to_worksheet(worksheet, 
                      FOM_yearly_general_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money")
add_data_to_worksheet(worksheet, 
                      FOM_portfolio_cost_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_first_row = True)
add_data_to_worksheet(worksheet, 
                      AS_RT_portfolio_cost_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money")

#### 5. Rate Base
header_row = ['Rate Base Calculation']
add_header_row(worksheet, header_row)

rate_base_df_styled = style_dataframe_with_currency(rate_base_df).reset_index().rename(columns={'index': 'Rate Base Components'})
add_data_to_worksheet(worksheet, 
                      rate_base_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_first_row = False)

subhead_color = "e0e4f4"
header_row = ['New CapEx']
add_header_row(worksheet, header_row, color=subhead_color)

new_capex_df_styled = style_dataframe_with_currency(new_capex_df).reset_index().rename(columns={0: 'Resource'})
add_data_to_worksheet(worksheet, 
                      new_capex_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_first_row = False)

header_row = ['New CapEx with Accumulated AFUDC']
add_header_row(worksheet, header_row, color=subhead_color)

new_capex_with_accumulated_AFUDC_df_styled = style_dataframe_with_currency(new_capex_with_accumulated_AFUDC).reset_index().rename(columns={0: 'Resource'})
add_data_to_worksheet(worksheet, 
                      new_capex_with_accumulated_AFUDC_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_first_row = False)

header_row = ['Ongoing CapEx']
add_header_row(worksheet, header_row, color=subhead_color)

ongoing_capex_df_styled = style_dataframe_with_currency(ongoing_capex_df).reset_index().rename(columns={'index': 'Resource'})
add_data_to_worksheet(worksheet, 
                      ongoing_capex_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_first_row = False)

#### 6. Existing Plant
header_row = ['Existing Plant']
add_header_row(worksheet, header_row)

header_row = ['Existing Plant NBV BOY']
add_header_row(worksheet, header_row, color=subhead_color)

existing_plant_NPV_BOY_styled = style_dataframe_with_currency(existing_plant_NPV_BOY).reset_index()#.rename(columns={'index': 'Resource'})
add_data_to_worksheet(worksheet, 
                      existing_plant_NPV_BOY_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = True)

header_row = ['Existing Plant NBV EOY']
add_header_row(worksheet, header_row, color=subhead_color)

existing_plant_NPV_EOY_styled = style_dataframe_with_currency(existing_plant_NPV_EOY).reset_index()#.rename(columns={'index': 'Resource'})
add_data_to_worksheet(worksheet, 
                      existing_plant_NPV_EOY_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = True)

header_row = ['Existing Plant Depreciation']
add_header_row(worksheet, header_row, color=subhead_color)

existing_plant_depreciation_styled = style_dataframe_with_currency(existing_plant_depreciation).reset_index().rename(columns={'index': 'Resource'})
add_data_to_worksheet(worksheet, 
                      existing_plant_depreciation_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = True)

existing_plant_other_items = total_existing_plant_summary.loc[["Additions to Existing Book", "Depreciation \"Credit Back\""]]

existing_plant_other_items_styled = style_dataframe_with_currency(existing_plant_other_items).reset_index().rename(columns={'index': 'Resource'})
add_data_to_worksheet(worksheet, 
                      existing_plant_other_items_styled,
                      use_cols_as_header = False,
                      formatting_type = "Normal Text and Blue Money")

#### 7. Retired Plants

header_row = ['Retired Plants']
add_header_row(worksheet, header_row)

retired_plants_df_styled = style_dataframe_with_currency(retired_plants_df).reset_index()#.rename(columns={'index': 'Resource'})

add_data_to_worksheet(worksheet, 
                      retired_plants_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

#### 7. AFUDC Calculation

header_row = ['AFUDC Calculation']
add_header_row(worksheet, header_row)

header_row = ['AFUDC']
add_header_row(worksheet, header_row, color=subhead_color)

AFUDC_schedule_df_styled = style_dataframe_with_currency(AFUDC_schedule_df).reset_index().rename(columns={0: 'Resource'})
add_data_to_worksheet(worksheet, 
                      AFUDC_schedule_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

header_row = ['AFUDC with Rate']
add_header_row(worksheet, header_row, color=subhead_color)

AFUDC_with_rate_df_styled = style_dataframe_with_currency(AFUDC_with_rate_df).reset_index().rename(columns={0: 'Resource'})
add_data_to_worksheet(worksheet, 
                      AFUDC_with_rate_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

header_row = ['Accumulated AFUDC']
add_header_row(worksheet, header_row, color=subhead_color)

AFUDC_accumulated_df_styled = style_dataframe_with_currency(AFUDC_accumulated_df).reset_index().rename(columns={0: 'Resource'})
add_data_to_worksheet(worksheet, 
                      AFUDC_accumulated_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

#### 7. Deferred Tax Calculation

header_row = ['Deferred Tax Calculations']
add_header_row(worksheet, header_row)

header_row = ['Deferred Tax Calculations - Blended - Weight by Fed/State Tax Rate']
add_header_row(worksheet, header_row, color=subhead_color)

deferred_tax_blended_df_styled = style_dataframe_with_currency(deferred_tax_blended_df).reset_index().rename(columns={'index': 'Component'})
add_data_to_worksheet(worksheet, 
                      deferred_tax_blended_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

header_row = ['Deferred Tax Calculations - Federal Only']
add_header_row(worksheet, header_row, color=subhead_color)

deferred_tax_federal_df_styled = style_dataframe_with_currency(deferred_tax_federal_df).reset_index().rename(columns={'index': 'Component'})
add_data_to_worksheet(worksheet, 
                      deferred_tax_federal_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

header_row = ['Deferred Tax Calculations - State Only']
add_header_row(worksheet, header_row, color=subhead_color)

deferred_tax_state_df_styled = style_dataframe_with_currency(deferred_tax_state_df).reset_index().rename(columns={'index': 'Component'})
add_data_to_worksheet(worksheet, 
                      deferred_tax_state_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

#### 8. Capital Charge Calculation

header_row = ['Capital Charge Calculation']
add_header_row(worksheet, header_row)

capital_charge_df_styled = style_dataframe_with_currency(capital_charge_df).reset_index().rename(columns={'index': 'Component'})
add_data_to_worksheet(worksheet, 
                      capital_charge_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

#### 9. Tax Credit Calc

header_row = ['Tax Credit Calculation']
add_header_row(worksheet, header_row)

header_row = ['PTC']
add_header_row(worksheet, header_row, color=subhead_color)

PTC_styled = style_dataframe_with_currency(PTC_df).reset_index().rename(columns={'index': 'PTC Prices'})
add_data_to_worksheet(worksheet, 
                      PTC_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

header_row = ['Generation (MWh, kg H2, ton CO2)']
add_header_row(worksheet, header_row, color=subhead_color)

generation_df_styled = style_dataframe_with_currency(generation_df).reset_index().rename(columns={'index': 'Resource'})
add_data_to_worksheet(worksheet, 
                      generation_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = False)

header_row = ['Old Tax Policy PTC Generated']
add_header_row(worksheet, header_row, color=subhead_color)

old_tax_policy_PTC_generated_styled = style_dataframe_with_currency(old_tax_policy_PTC_generated).reset_index().rename(columns={'index': 'PTC'})
add_data_to_worksheet(worksheet, 
                      old_tax_policy_PTC_generated_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = True)

header_row = ['IRA PTC']
add_header_row(worksheet, header_row, color=subhead_color)

IRA_PTC_df_styled = style_dataframe_with_currency(IRA_PTC_df).reset_index().rename(columns={'index': 'PTC'})
add_data_to_worksheet(worksheet, 
                      IRA_PTC_df_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = True)

header_row = ['Total Grossed Up PTC Payment']
add_header_row(worksheet, header_row, color=subhead_color)

total_grossed_up_ptc_styled = style_dataframe_with_currency(total_grossed_up_ptc).reset_index().rename(columns={'index': 'PTC'})
add_data_to_worksheet(worksheet, 
                      total_grossed_up_ptc_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = True)

header_row = ['NOL?']
add_header_row(worksheet, header_row, color=subhead_color)

NOL_styled = style_dataframe_with_currency(NOL).reset_index().rename(columns={'index': 'NOL?'})
add_data_to_worksheet(worksheet, 
                      NOL_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = True)

header_row = ['ITC']
add_header_row(worksheet, header_row, color=subhead_color)

ITC_styled = style_dataframe_with_currency(ITC).reset_index().rename(columns={'index': 'NOL?'})
add_data_to_worksheet(worksheet, 
                      ITC_styled,
                      use_cols_as_header = True,
                      formatting_type = "Normal Text and Blue Money",
                      bold_last_row = True)

#### 10. Depreciation
header_row = ["Depreciation Tables"]
add_header_row(worksheet, header_row)



display_alternating_dict_dataframes_with_headers(worksheet, book_depreciation_tables_dict, tax_depreciation_tables_dict, "Depreciation Tables", subhead_color)


#### Final Formatting & Save Excel

# Set column widths
set_column_widths(worksheet)

# Save the workbook
output_filename = 'Model Results.xlsx'
#wb.save(output_filename)

In [135]:
#wb.save(output_filename)

In [137]:
# Display link to download the file
#from IPython.display import display, FileLink
#display(FileLink(output_filename))