## WPL Financial Model

#### Notes
1) Need to figure out how to add solar extension period + end effects period
2) Move functions into separate .py file after finishing
3) Dictionary of dfs of depreciations?
4) start thinking about how to automate QC'ing - ask Barett and Rowen about what they do to QC typically
5) Create functions to apply formatting
    - https://pandas.pydata.org/docs/user_guide/style.html
    - also from openpyxl.styles import Font, PatternFill, Alignment
6) automate making tables in "Financial Portfolios" tab --> the ones that are not hard coded

### Import packages & Data

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
from datetime import datetime
import pathlib

# Set the path to the folder containing your Excel files
folder_path = '/Users/alomsadze/OneDrive - Charles River Associates International/Desktop/WPL/Python Version/'
model_inputs = pd.ExcelFile(folder_path + "Direct Model Inputs.xlsx")
model_inputs

In [18]:
financial_scalars_inputs = model_inputs.parse("Financial Inputs", index_col=0)
financial_scalars_inputs

                                                                Value
Scalar Input
Start Year                                                       2023
Income Tax Rate                                              0.272431
Federal Income Tax Rate                                          0.21
State Income Tax Rate                                        0.079027
License Fee                                                    0.0319
Property Tax Rate                                                   0
Return on Equity (Existing)                                       0.1
Return on Equity (New)                                            0.1
Cost of Debt (Existing)                                      0.039293
Cost of Debt (New)                                           0.039293
Equity % Rate Base                                             0.5413
Debt % Rate Base                                               0.4587
Starting Equity ($)                                 1321337408.314929
Starting Debt ($)                                   1119707129.492071
Starting Net Plant                                     2441044537.807
AFUDC                                                               0
After-Tax WACC                                               0.067243
Retired Units Earn Return On?                                     Yes
Return On % - Retired Units                                  0.072154
Income Tax Credit Back?                                            No
Property Tax Credit Back?                                          No
Long-term solar projects ITCs or PTCs?                            PTC
% ITC Monetization (reduction for risk - provid...                0.9
% PTC Monetization (reduction for risk - provid...              0.925
% storage cost ITC eligibility (provided by cli...                0.9
% Bonus ITC                                                       0.1

In [3]:
aurora_portfolio_summary = model_inputs.parse("Portfolio Summary")
capacity_payments = model_inputs.parse("Capacity Payments")
datacenter_scenario_financials = model_inputs.parse("Datacenter Scenario Financials", header=None)

### Supporting functions -- move to separate python file later

In [4]:
def read_excel_with_tables(df):
    """
    Read a single Excel sheet with multiple tables separated by an empty row.
    Each table is identified by the word "table" in a cell, and its name is in the next cell.

    Parameters:
    - file_path: str, path to the Excel file
    - sheet_name: str, name of the sheet in the Excel file

    Returns:
    - Dictionary of DataFrames, where keys are table names and values are corresponding DataFrames
    """

    # Initialize variables
    tables = {}
    current_table_name = None
    current_table_start_row = None

    # Iterate through rows
    for index, row in df.iterrows():
        if "table" in str(row.values).lower():
            # Save the current table if it exists
            if current_table_name is not None:
                data_table = df.iloc[current_table_start_row:index - 1, :].reset_index(drop=True)
                # Set the column names to be the values in the first row
                data_table.columns = data_table.iloc[0]
                # Drop the first row, which is now redundant as column headers
                data_table = data_table[1:]
                # Drop columns without names
                data_table = data_table.dropna(axis=1, how='all')
                # Now df contains your data with only columns that have column names
                tables[current_table_name] = data_table

            # Update variables for the new table
            current_table_name = str(row[1]) # this takes the value from the cell next to the cell that says "table"
            ########print("current table name is", current_table_name)
            current_table_start_row = index + 1  # Assuming the next row is empty
            
    # Add the last table
    if current_table_name is not None:
        data_table = df.iloc[current_table_start_row:index + 1, :].reset_index(drop=True)
        # Set the column names to be the values in the first row
        data_table.columns = data_table.iloc[0]
        # Drop the first row, which is now redundant as column headers
        data_table = data_table[1:]
        # Drop columns without names
        data_table = data_table.dropna(axis=1, how='all')
        # Now df contains your data with only columns that have column names
        tables[current_table_name] = data_table
        
    return tables

## Revenue Requirement Calculations

In [5]:
# GLOBAL VARIABLES TO GENERALIZE
Run_ID = 'CIC'
Scenario = 'Continue_Change'
year = 2023 
aurora_portfolio_ID = 2
aurora_condition = 'ATC'
case_name = "Datacenter"

In [6]:
# years we want to calculate revenue requirement for
start_year = 2023
end_year = 2072
years = np.arange(start_year, end_year + 1)

### 1. O&M Summary

#### [1.a] Total Portfolio Cost Check

In [7]:
#capacity_payments
#capacity_payments_filtered = capacity_payments[(capacity_payments.Scenarios == Scenario) & (capacity_payments['Case Name'] == case_name)]
#capacity_payments_filtered[2022]

In [8]:
## TOTAL PORTFOLIO COST CHECK

# Total owned resources costs (no market purchases/contracts)
total_owned_cost_yearly = []
# Market purchases cost
market_purchases_yearly = []
# Revenues from market sales
market_sales_yearly = []
# Cost of contracts
contract_costs_yearly = []
# Contract Sales
contract_sales_yearly = []
# High Load Capacity Payments = Cost of short capacity in high load scenario
capacity_payments_yearly = []

condition_mask = aurora_portfolio_summary['Condition'] == aurora_condition
run_id_mask = aurora_portfolio_summary['Run_ID'] == Run_ID
portfolio_id_mask = aurora_portfolio_summary['Portfolio_ID'] == aurora_portfolio_ID
aurora_portfolio_summary_filtered = aurora_portfolio_summary[condition_mask & run_id_mask & portfolio_id_mask]

capacity_payments_filtered = capacity_payments[(capacity_payments.Scenarios == Scenario) & (capacity_payments['Case Name'] == case_name)]

aurora_years = np.sort(aurora_portfolio_summary.Time_Period.unique())

for year in aurora_years:
    # select row for current year
    curr_year_data = aurora_portfolio_summary_filtered.loc[(aurora_portfolio_summary_filtered['Time_Period'] == year)]
    curr_year_capacity_payments = capacity_payments_filtered[year]
    # extract data
    total_owned_cost_yearly.append(curr_year_data["Resource_Cost_Total"].sum() * 1000)
    market_purchases_yearly.append(curr_year_data['Market_Purchases_Cost_Total'].sum() * 1000)
    market_sales_yearly.append(curr_year_data['Market_Sales_Cost_Total'].sum() * 1000)
    contract_costs_yearly.append(curr_year_data['Contract_Purchases_Cost_Total'].sum() * 1000)
    contract_sales_yearly.append(curr_year_data['Contract_Sales_Cost_Total'].sum() * 1000)
    capacity_payments_yearly.append(curr_year_capacity_payments.sum())

    
# Summarize
# Net market purchases = Purchases + Sales
net_market_purchases_yearly = [sum(costs) for costs in zip(market_purchases_yearly, market_sales_yearly)]
total_portfolio_cost_yearly= [sum(costs) for costs in zip(total_owned_cost_yearly, net_market_purchases_yearly,
                                                  contract_costs_yearly, contract_sales_yearly)]
total_portfolio_cost_yearly

# dictionary of lists 
VOM_portfolio_cost_dict = {'Year': aurora_years,
        'Total Portfolio Cost': total_portfolio_cost_yearly, 
        'Total Owned Cost': total_owned_cost_yearly, 
        'Net Market Purchases': net_market_purchases_yearly, 
        'Market Purchases (Energy)': market_purchases_yearly,
        'Market Sales (Energy)': market_sales_yearly, 
        'Contract Cost': contract_costs_yearly, 
        'Contract Sales': contract_sales_yearly,
        'High Load Capacity Payment': capacity_payments_yearly} 
   
VOM_portfolio_cost_df = pd.DataFrame(VOM_portfolio_cost_dict)
VOM_portfolio_cost_df.set_index('Year', inplace=True)
VOM_portfolio_cost_df = VOM_portfolio_cost_df.T
VOM_portfolio_cost_df.style.format(precision=2)

#### [1.b] Other Fixed Costs

In [9]:
datacenter_scenario_financials_tables = read_excel_with_tables(datacenter_scenario_financials)
list(datacenter_scenario_financials_tables.keys())

['Ongoing CapEx (Nominal$)',
 'FOM (Nominal$)',
 'Decomissioning',
 'Transmission Upgrade Costs - DR Costs',
 'Existing Capital -  Net Book Value BOY',
 'Existing Capital -  Net Book Value EOY',
 'Existing Capital - Tax Value - Federal - BOY',
 'Existing Capital - Tax Value - Federal - EOY',
 'Existing Capital - Tax Value - State - BOY',
 'Existing Capital - Tax Value - State - EOY',
 'Retired',
 'Distribution Offset',
 'Tax Equity Costs',
 'Cumulative Installed Capacity (MW)',
 'Ongoing CapEx ($2021/kW-yr)',
 'Fixed O&M ($2021/kW-yr)',
 'Distribution Offset ($2021/kW)',
 'RT Subhourly and A/S Offset ($2021/kW-yr)']

In [11]:
transmission_upgrade_costs_df = datacenter_scenario_financials_tables['Transmission Upgrade Costs - DR Costs']
FOM_yearly = transmission_upgrade_costs_df[transmission_upgrade_costs_df['Category'] == 'FOM']
FOM_yearly = FOM_yearly.loc[:, FOM_yearly.columns.isin(aurora_years)].values[0]
Transmission_Upgrade_OpEx_yearly = transmission_upgrade_costs_df[transmission_upgrade_costs_df['Category'] == 'Transmission Upgrade OpEx']
Transmission_Upgrade_OpEx_yearly = Transmission_Upgrade_OpEx_yearly.loc[:, Transmission_Upgrade_OpEx_yearly.columns.isin(aurora_years)].values[0]
DSM_Costs_yearly = transmission_upgrade_costs_df[transmission_upgrade_costs_df['Category'] == 'DSM Costs']
DSM_Costs_yearly = DSM_Costs_yearly.loc[:, DSM_Costs_yearly.columns.isin(aurora_years)].values[0]

#  KEEP ADDING ROWS #####################


# dictionary of lists 
FOM_portfolio_cost_dict = {'Year': aurora_years,
                           'FOM': FOM_yearly,
                           'Transmission Upgrade OpEx': Transmission_Upgrade_OpEx_yearly,
                           'DSM Costs': DSM_Costs_yearly} 

FOM_portfolio_cost_dict = pd.DataFrame(FOM_portfolio_cost_dict)
FOM_portfolio_cost_dict.set_index('Year', inplace=True)
FOM_portfolio_cost_dict = FOM_portfolio_cost_dict.T
FOM_portfolio_cost_dict.style.format(precision=2)

In [31]:
financial_scalars_inputs.loc['Long-term solar projects ITCs or PTCs?'].values[0]

'PTC'